<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647582691314-sb9f6mliat4aob9lf7a7vumlt43it8tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647582691314-sb9f6mliat4aob9lf7a7vumlt43it8tj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>647582691314-279vaej6kpmdfmpe7d6od42gmgf9mbre.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC0_9hpoEDmEYpbjXFMEDik8BVlv1Srr20</string>
	<key>GCM_SENDER_ID</key>
	<string>647582691314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zipcoker.booklearn</string>
	<key>PROJECT_ID</key>
	<string>booklearn-78142</string>
	<key>STORAGE_BUCKET</key>
	<string>booklearn-78142.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647582691314:ios:00353ec34c623acd29c56b</string>
</dict>
</plist>