<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33395763326-osvnrurhbolc4qo4rr2d54j0fvb9ho38.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33395763326-osvnrurhbolc4qo4rr2d54j0fvb9ho38</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>33395763326-rrgmoou2f7o8kmli52j1fvvfp13fvi1e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVALvoCiJPZVZFzy2-MPPvOyGIt_sy_9Y</string>
	<key>GCM_SENDER_ID</key>
	<string>33395763326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.booklearn</string>
	<key>PROJECT_ID</key>
	<string>booklearn-58f92</string>
	<key>STORAGE_BUCKET</key>
	<string>booklearn-58f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33395763326:ios:7c89041fecdb21edbc102f</string>
</dict>
</plist>